/*---------------------=General--------------*/

html {
 font-family: Arial,sans-serif;
}

/*---------------------=Masthead-------------*/

header {
 margin:0 0 1rem;
 padding: 0.5em;
 text-align: center;
    
 font-family: sans-serif;
}
    
.nav {
    margin:0;
}

h2 { 
 text-align: center;
}

h3 {
 text-align: center;
}

 .button { 
     float: center;
 }

IMG.displayed {
 display: block;
 margin-left: auto;
 margin-right: auto 
}