/*---------------------=General--------------*/

@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%
  text-size-adjust: 100%;
}

html {
   box-sizing:border-box;
   margin: 0;
   padding: 0;
   font-family: Arial,sans-serif;
}

*,*:: before, *::after {
    box-sizing:inherit;
    
}

.logo {
    width: 100px;
    display: inherit;
    margin: 0 auto;
}


body {
    margin 0;
    background-color: lightblue;
    
}

dt {
   float: left;
   clear: left;
   margin-right: 5px;
   font-weight: bold;
}

dd {
    margin-left: 0px;
}

.custom-counter {
    margin-left: 0;
    padding-right: 0;
    list-style-type: none;
}

.masthead {
    font-size: 1rem;
}

.title {
    font-size: 3.5rem;
    text-transform: uppercase;
    text-align: center;
    color: black;
}

.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: lightgrey;
    clear: both;
}

.nav a {
    display: block;
    padding: .5em; 1em;
    color: black;
    text-decoration: none;
    font-weight: bold;

}

@media only screen and (min-width:26em)

.nav {
    text-align: center;
        
}

.nav li {
    display: inline-block;
}

body {
    background-color: aliceblue;
    
}

}

@media only screen and (min-width: 30em)}

.logo {
    display: inline-block;
    vertical-align: middle;
    margin: 0 1em;
    
}

.title {
    margin: 0;
    display: inline-block;
    vertical-align: middle;

}

body {
    background-color: lightblue;
}

}


@media only screen and (min-width: 35em) {
    
body {
    background-color: lightgreen;

}
    

@media only screen and (min-width: 55em) {
    
.masthead {
    float: left;
    width: 30%;
}
    
.main {
    float: right;
    width: 70%;
    
}

.title {
    display: block;
    margin: 1em 0;
}
    
.logo {
    display: block;
    margin: 0 auto;
}

    
.nav { 
    text-align: left;

    
}
    
.nav li {
    display: block;
    
}

body{
    background-color: lightpink;
}

}


   
