html {
    
    
header {
 text-align: center;
    
}

    .li {
     display: inline;
        
}           
    
h1 { 
 font-family: sans-serif;
 font-size: 2rem;
 text-align: center;
}
    
    
h2 {
 text-align: center;
}
    
    
h3 {
 text-align: center;
}
    
    dt {
     float: left;
     width: 50%;
     
    dd {
     float: left;
     width: 50%;
        
}
 
    
    
}


    


    
}
